.hide {display: none !important;}
.clear {clear: both;}

.item_text {
    float: left;
}

.remove_item {
    float: right;
}

/* comment page */
#comment_block textarea {
    width: 95%;
}

#comment_block i {
    cursor: pointer;
}

.comment {
    margin-bottom: 10px;
}

.remove_comment {
    float: right;
}

.author_image {
    float: left;
}

/* auth providers icons */
#auth_block {
    margin-bottom: 8px;
}

#authorized_user {
    display: none;
}

#vk_provider {
    background-image: url("images/vk-icon.png");
    width: 16px;
    height: 16px;
}

#fb_provider {
    background-image: url("images/fb-icon.png");
    width: 16px;
    height: 16px;
}

#no_authorize {
    display: none;
}
